*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --ligt-blue: hsl(213deg, 20%, 22%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    background-color: var(--Very-Dark-Blue);
    font-family: "Overpass", sans-serif;
    height:400px
}

.container{
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thank-you-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 270px;
    width: 10%;
    background-color: var(--Dark-Blue);
    padding: 1.95rem;
    min-width: 350px;
    border-radius: 15px;
}

.rating-container{
    min-width: 350px;
    width: 10%;
    background-color: var(--Dark-Blue);
    padding: 2rem;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.star-container{
    background-color: var(--ligt-blue);
    height: 50px;
    width: 50px;
    padding-top: 16px;
    padding-left: 16px;
    border-radius: 100px;
}

.rating-title{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.rating-description {
    color: var(--Light-Grey);
    font-size: 14px;
    line-height: 17px;
}

.ratings-to-select {
    display: flex;
    justify-content: space-between;
}

.ratings-to-select span{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding-top:17px;
    padding-left: 20px ;
    background-color: var(--ligt-blue);
    color:var(--Light-Grey);
    margin: 20px 0 20px;
}

.ratings-to-select span:hover{
    background-color: var(--Light-Grey);
    color:var(--White);
    cursor: pointer;
}

.submit-button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: var(--Orange);
    color: var(--White);
}

.submit-button:hover{
    background-color: var(--White);
    color:var(--Orange);
    cursor: pointer;
}

.selected-rating-message{
    background-color: var(--ligt-blue);
    color: var(--Orange);
    margin: 22px 0 17px 0;
    padding: 10px;
    border-radius: 100px;
    font-size: 14.5px;
}

.thanks-message{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.thanks-description{
    margin-top: 20px;
    color: var(--Light-Grey);
    width: 100%;
    font-size: 13.5px;
    line-height: 17px;
    margin-bottom: 17px;
}

.checked {
    background-color: var(--Orange) !important;
    color: var(--White) !important;
  }

@media (max-width: 380px){
    .rating-container{
        min-width: 0px;
        width: 90%;
    }
    .ratings-to-select span{
        width: 40px;
        height: 40px;
        padding-top:10px;
        padding-left: 16px ;
        background-color: var(--ligt-blue);
        color:var(--Light-Grey);
        margin: 20px 0 20px;
    }
}